.header {
    padding-top: 17px;
    padding-bottom: 18px;
    background-color: #efefef;
}

.header_navigation--items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header_navigation--item {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}